# Default ignored files
/../../Selenium_Training /.idea/shelf/
/../../Selenium_Training /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Selenium_Training /.idea/httpRequests/
# Datasource local storage ignored files
/../../Selenium_Training /.idea/dataSources/
/../../Selenium_Training /.idea/dataSources.local.xml
